.body {
    color: black;
    padding: 50px;
}

.body h1{
    text-align: center;
    color: black;
}

.body p{
    text-align: center;
    width: 55%;
    justify-content: center;
    margin-left: 350px;
}

.avatar {
    width: 250px;
    height: 260px;
    border-style: double;
}

.details{
    color: rgb(12, 7, 102);
    font-size: 18px;
    font-weight: 600;
}