.container {
    background-color: wheat;
    padding: 50px;

}

#head{
    color: darkorchid;
}
#form{
    padding-top: 50px;
}

.row{
    padding-top: 30px;
    border-style: double;
}

#title{
    text-align: center;
    color: rgb(7, 10, 214);
}

.repo{
    border-style: double;
}

hr{
    color: rgb(27, 24, 218);
    border: 10px;
}
#desc{
    text-align: center;
    justify-content: center;    
}

.avatar {
    width: 250px;
    height: 260px;
    border-style: double;
}

.details{
    color: rgb(12, 7, 102);
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
}